@import "tailwindcss";

@theme {
  --font-aboreto: "Aboreto", serif;
  --font-manrope: "Manrope", serif;
  --font-poppins: "Poppins", serif;
  --font-amiko: "Amiko", serif;
  --color-primary-gray : #D9D9D9;
  --color-secondary-gray : #676565;
  --color-primary-blue : #1F5873;
  --color-primary-green : #3E9276;
  --color-bg-color: #F6F6F6;
}

.containerInfinite {
    animation: infinite-scroll 10s linear infinite; /* Cambio de duración */
    display: flex;
  }
  
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Desplazamos la mitad del contenido para un loop continuo */
    }
  }